@{
    Layout.Title = Model.Title;
}

<header class="full">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 65px;">@@carlwoodhouse</h1>
            <hr />
            <p>do not go where the path may lead, instead go where there is no path and leave a trail.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>